<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de UF</title>
</head>
<body>
    <h1>Cadastro de UF</h1>

    <form method="POST" action="/uf/salvar">
        <input name="nome" placeholder="Nome" required>
        <input name="sigla" placeholder="Sigla" required>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>